@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.header .btn{
  padding: 15px 25px ;
}

.header .btn img{
  padding-left: 15px;
}

.mainmenu{ 
  margin-top: 220px;
  
}

.mainmenu h1{
  font-size: 58px;
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.mainmenu h3{
  margin-top: 40px;
  font-size: 20px;
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.btns{
  padding-top: 40px;

}

.btns .btn{
  padding: 15px 36px;
  border-radius: 50px;
}
.btn{
  margin-left: 10px;
  margin-right: 10px;
}

.card-group{
  padding-top: 120px;
  display: flex;
  gap: 20px;
}